#header-sub {
  @include grid(center, center);
  @include navMenu(dropdown);

  background-color: $blue;
  text-align: center;
  padding: 1.5rem 0;

  a {
    display: block;
    color: $grey;
    padding: 0 1.25rem;
    font-size: 1.25rem;
    font-family: $font-heading;
    font-weight: $font-light;
    text-transform: uppercase;

    @include transition();

    &:hover {
      color: $yellow;
    }
  }

  .sub-menu {
    background-color: $blue;
    padding: 1rem 0;

    a {
      padding: 0.5rem 1.5rem;
    }
  }

  li.current-menu-item a {
    color: $yellow !important;
  }

  #menu-header-side-menu {
    border-left: 1px solid $grey;

    a {
      color: $blue-light;

      &:hover {
        color: $yellow;
      }
    }
  }
}

@media (max-width: 1024px) {
  #header-sub {
    padding: 0.75rem;

    a {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  #header-sub,
  .logo-parent-header {
    display: none;
  }
}
