#header {
  position: relative;
  background-color: $white;
  z-index: 999;

  .wrap {
    @include grid(space-between, flex-start, row, wrap);

    padding: 1rem 0;
  }

  .logo-parent-header {
    margin-top: 1rem;
    width: 15%;
    height: auto;
  }

  .logo-header {
    width: 15%;

    img {
      display: block;
    }
  }

  .nav-social {
    ul {
      list-style-type: none;
      margin: 0;
    }

    li {
      display: inline-block;
      margin: 1rem 0.25rem;
    }

    span {
      display: none;
    }

    a {
      @include grid(center, center);
      @include transition();

      padding: 0.5rem 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      background-color: $blue-dark;

      &:hover {
        background-color: $blue;
      }
    }

    img {
      display: block;
      width: 1.25rem;
    }
  }
}

#responsive-nav-toggle {
  display: none;
}

@media (max-width: 1024px) {
  #header {
    .wrap {
      padding: 1rem;
    }

    .logo-header {
      width: 25%;
    }

    .logo-parent-header {
      width: 20%;
    }
  }
}

@media (max-width: 768px) {
  #header {
    .wrap {
      @include grid(space-between, center);
    }

    .nav-social {
      display: none;
    }
  }

  #responsive-nav-toggle {
    @include hamburgerMenu(2, $purple, 0.6);
  }
}
